:root {
  --font: 'Open Sans', sans-serif;
  --bg-color: #f5f5f5;
  --fg-color: #000;
  --header-bg-color: #fff;
  --header-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.5);
  --content-bg-color: #fff;
  --content-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  --link-color: #000;
  --link-decoration: underline;
  --btn-bg-color: #f7f7f7;
  --btn-fg-color: #000;
  --btn-border-color: #d8d8d8;
  --btn-border-radius: 4px;
  --info-bg-color: lightblue;
  --info-fg-color: #000;
  --info-border-color: cornflowerblue;
  --warning-bg-color: beige;
  --warning-fg-color: #000;
  --warning-border-color: #000;
}

html,
body {
  background-color: var(--bg-color);
  font-family: var(--font);
  margin: 0;
}

a,
.btn-link {
  color: var(--link-color);
  font-size: 14px;
  line-height: 16px;
  text-decoration: var(--link-decoration);
}

.btn-default {
  padding: 8px 12px;
  border: 1px solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  color: var(--btn-fg-color);
  font-size: 1em;
  cursor: pointer;
  background-color: var(--btn-bg-color);
}

.btn-link {
  padding: 28px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.main-width {
  max-width: 620px;
  margin: 0 auto;
}

.content-container {
  background: var(--content-bg-color);
  padding: 29px;
  box-shadow: var(--content-shadow);
}
