<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head th:include="fragments/base :: headerFragment">
  <title id="pageTitle" th:inline="text">[[#{idp.msg.title}]]</title>
</head>
<body>
  
  <div th:replace="fragments/header :: logotype"></div>
  
  <div class="container main">
  
    <div>
      <span class="lang float-right">&nbsp;</span>
    </div>
    
    <div class="row" id="mainDiv">
      <div class="col-sm-12 content-container">
      
        <div class="error">

          <div class="row">
            <div class="col-sm-12 content-heading">
              <h2 th:text="#{idp.msg.error-heading}">Error</h2>
            </div>
            <div class="col-sm-12">              
              <p th:text="#{${idpErrorMessageCode}}">Error message</p>
            </div>
          </div>
        </div>

      </div> <!-- /.col-sm-12 content-container -->
      
      <div th:replace="fragments/footer :: copyright"></div>      
      
    </div> <!-- /#mainDiv -->

  </div> <!-- /.container main -->


  <th:block th:include="fragments/base :: scriptFragment"></th:block>
  
</body>
</html>