<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragment">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="BankID">
  <meta http-equiv='pragma' content='no-cache' />
  <meta http-equiv='cache-control' content='no-cache, no-store, must-revalidate' />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- <link rel="shortcut icon" th:href="@{/images/sc-favicon.ico}" href="/images/sc-favicon.ico" type="image/x-icon" /> -->

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}" href="webjars/bootstrap/4.6.2/css/bootstrap.min.css" />
  <link rel="stylesheet" th:href="@{/css/open-sans-fonts.css}" href="../../css/open-sans-fonts.css" />
  <link rel="stylesheet" th:href="@{/css/refmain.css}" href="../../css/refmain.css" />
  
  <meta name="theme-color" content="#ffffff">

  <title th:include=":: #pageTitle">Title</title>

</head>

<body>

<th:block th:fragment="scriptFragment">
  <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}" src="webjars/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/umd/popper.min.js}" src="/webjars/popper.js/1.16.1-lts/umd/popper.min.js"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.min.js}" src="/webjars/bootstrap/4.6.2/js/bootstrap.min.js"></script>
</th:block>

<th:block th:fragment="scriptFragment2"> 
  <script type="text/javascript" th:src="@{/scripts/bankid.js}" src="../../static/scripts/bankid.js"></script>
</th:block>

</body>

</html>