:root {
    --info-bg-color: pink;
    --info-border-color: coral;
    --btn-bg-color: pink;
    --btn-border-color: coral;
    --bg-color: #ffdfdf;
    --header-bg-color: #ffdfdf;
    --content-bg-color: #ffdfdf;
}

